# Virtual environments
.venv/
venv/
env/
.env

# Python Python caches and logs
__pycache__/
*.py[cod]
*$py.class
*.log

# Databases
*.db
*.sqlite3

# Node modules (frontend)
node_modules/
dist/
build/
.DS_Store